<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory page</title>
    <link rel="stylesheet" href="../css/homepage.dashboard.css">
    <!-- <----------Below the one line code for using icons the site name is fontawesome---------------- > -->
    <script src="https://kit.fontawesome.com/f33ac049a7.js" crossorigin="anonymous"></script>
    <!-- <----------Below the one line code for linking the external css page ---------------- > -->
        <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="../css/category.css">
    <!-- <----------Below the one line code for linking the using icons the site name is flaticon page ---------------- > -->
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
</head>

<body>

    <main>
        <section class="homepage-main-container">
            <header>
                <div class="top-container">
                    <h1 class="organization-name">Inventory</h1>
                    <div class="top-right-container">
                        <div class="search-container">
                            <span class="search-icon"><i class="fi fi-rs-search"></i></span>
                            <input type="text" placeholder="Search products,suppliers,orders" class="searchInput">
                        </div>
                        <span class="notification-icon"><i class="fa-regular fa-bell"></i></span>
                        <img src="../project images/dashboardImages/Balaprofile.png" class="user-image"
                            alt="user-image">
                    </div>
                </div>
            </header>
            <div class="left-side-nav-container">
                <div class="nav-list">
                    <ul>
                        <a href="/" class="action">
                            <div class="left-nav-bar home-contain">
                                <p class="sideNav-icon">
                                    <span><i class="fi fi-rs-home"></i></span>
                                    <span class="sideNav-name">DashBoard</span>
                                </p>
                            </div>
                        </a>
                        <a href="/category" class="action">
                            <div class="left-nav-bar Inventory-contain">
                                <p class="sideNav-icon">
                                    <span><i class="fi fi-rs-truck-loading "></i></span>
                                    <span class="sideNav-name">Inventory</span>
                                </p>
                            </div>
                        </a>
                        <a href="#" class="action">
                            <div class="left-nav-bar Integrations-contain">
                                <p class="sideNav-icon">
                                    <span><i class="fi fi-rs-square-poll-vertical"></i></span>
                                    <span class="sideNav-name">Integrations</span>
                                </p>
                            </div>
                        </a>
                        <a href="#" class="action">
                            <div class="left-nav-bar Vendors-contain">
                                <p class="sideNav-icon">
                                    <span><i class="fi fi-rs-circle-user"></i></span>
                                    <span class="sideNav-name">Vendors</span>
                                </p>
                            </div>
                        </a>
                        <a href="#" class="action">
                            <div class="left-nav-bar Orders-contain">
                                <p class="sideNav-icon">
                                    <span><i class="fi fi-rs-box-open"></i></span>
                                    <span class="sideNav-name">Orders</span>
                                </p>
                            </div>
                        </a>
                        <a href="/invite" class="action">
                            <div class="left-nav-bar Invite-users-contain">
                                <p class="sideNav-icon">
                                    <span><i class="fi fi-rs-users"></i></span>
                                    <span class="sideNav-name">Invite users</span>
                                </p>
                            </div>
                        </a>
                        <a href="#" class="action">
                            <div class="left-nav-bar Sold-items-contain">
                                <p class="sideNav-icon">
                                    <span><i class="fi fi-ss-coins"></i></span>
                                    <span class="sideNav-name">Sold items</span>
                                </p>
                            </div>
                        </a>
                        <a href="#" class="action">
                            <div class="left-nav-bar Low-stocks-contain">
                                <p class="sideNav-icon">
                                    <span><i class="fi fi-rs-shopping-bag"></i></span>
                                    <span class="sideNav-name">Low stocks</span>
                                </p>
                            </div>
                        </a>

                        <a href="/" class="action">
                            <div class="left-nav-bar setting-contain">
                                <p class="sideNav-icon">
                                    <span><i class="fi fi-rs-settings"></i></span>
                                    <span class="sideNav-name">Settings</span>
                                </p>
                            </div>
                        </a>

                        <!-- <a href="/logout" class="action">
                            <div class="left-nav-bar setting-contain">
                                <img src="../project images/dashboardImages/Settings.png" alt="">
                                <span><i class="fa-solid fa-gear sideNav-icon"></i></span>
                                <li class="setting">Logout</li>
                            </div>
                        </a> -->
                    </ul>
                </div>
                <div class="all-count-container">
                    <div class="product-header-part">
                        <div class="product-type-container">
                            <a href="/category" class="category">Category</a>
                            <a href="/product" class="product">Products</a>
                        </div>
                        <div class="addNew-btn-container">
                            <button class="addNew">Add new</button>
                            <button class="filter"><i class="fi fi-ss-bars-filter"></i>Filters</button>
                        </div>
                    </div>
                    <div class="category-main-container">
                        <div class="category-container">
                            <p>Bags</p>
                            <img src="../project images/inventory/bag.png" alt="">
                            <h4>View Produts</h4>
                        </div>
                        <div class="category-container">
                            <p>T Shirts</p>
                            <img src="../project images/inventory/t.shirt.png" alt="">
                            <h4>View Produts</h4>
                        </div>
                        <div class="category-container">
                            <p>Rhino Toys</p>
                            <img src="../project images/inventory/rhinoToy.png" alt="">
                            <h4>View Produts</h4>
                        </div>
                        <div class="category-container">
                            <p>Electronics</p>
                            <img src="../project images/inventory/Electronics.png" alt="">
                            <h4>View Produts</h4>
                        </div>
                        <div class="category-container">
                            <p>Grocery</p>
                            <img src="../project images/inventory/bag.png" alt="">
                            <h4>View Produts</h4>
                        </div>
                        <div class="category-container">
                            <p>Stationary</p>
                            <img src="../project images/inventory/stationary.png" alt="">
                            <h4>View Produts</h4>
                        </div>
                        <div class="category-container">
                            <p>Desk Chairs</p>
                            <img src="../project images/inventory/deskchair.png" alt="">
                            <h4>View Produts</h4>
                        </div>
                        <div class="category-container">
                            <p>Mouse</p>
                            <img src="../project images/inventory/computerMouse.jpg" alt="">
                            <h4>View Produts</h4>
                        </div>
                        <div class="category-container">
                            <p>Pen Markar</p>
                            <img src="../project images/inventory/mark.png" alt="">
                            <h4>View Produts</h4>
                        </div>
                    </div>
                    <div class="addNew-form-container">
                        <div>
                            <i class="fi fi-rs-circle-xmark close"></i>
                        </div>
                        <form action="#">
                            <div class="image-container">
                                <div class="imageDot">
                                    <i class="fa-regular fa-image"></i>
                                    <label for="inputTag">
                                        Select Image <br />
                                        <img alt="" class="image">
                                        <input id="inputTag" type="file" />
                                        <!-- <br /> -->
                                        <!-- <span id="imageName"></span> -->
                                    </label>
                                </div>
                                <!-- <div class="imageName">
                                    <small>Drag image here</small>
                                    <p>or</p>
                                    <small style="color: #448DF2;">Browse image</small>
                                </div> -->
                                <!-- <img src="../" alt=""> -->
                            </div>
                            <div class="innerContainer product-container">
                                <p class="typeName">Product Name</p>
                                <input type="text" placeholder="Enter product name">
                            </div>
                            <div class="innerContainer SKU-container">
                                <p class="typeName">SKU</p>
                                <input type="text" placeholder="Enter product SKU">
                            </div>
                            <div class="innerContainer Category-container">
                                <p class="typeName">Category</p>
                                <input type="text" placeholder="Enter Category name">
                            </div>
                            <div class="innerContainer buyingPrice-container">
                                <p class="typeName">Buying price</p>
                                <input type="text" placeholder="Enter buying price">
                            </div>
                            <div class="innerContainer quantity-container">
                                <p class="typeName">Quantity</p>
                                <input type="text" placeholder="Enter product quantity">
                            </div>
                            <div class="innerContainer expireDate-container">
                                <p class="typeName">Expire Date</p>
                                <input type="text" placeholder="Enter expire date">
                            </div>

                        </form>
                        <div class="footer-container">
                            <button class="discard">Discard</button>
                            <button class="addProduct">Add Product</button>
                        </div>
                    </div>
                </div>
        </section>
    </main>


    <script src="../js/category.js"></script>
</body>

</html>