<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <----------Below the one line code for using icons the site name is fontawesome---------------- > -->
    <script src="https://kit.fontawesome.com/f33ac049a7.js" crossorigin="anonymous"></script>
    <!-- <----------Below the one line code for linking the external css page ---------------- > -->
    <link rel="stylesheet" href="../css/profile.css">
    <!-- <----------Below the one line code for linking the using icons the site name is flaticon page ---------------- > -->
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <title>Homepage Dashboard</title>
</head>

<body>
    <main>
        <section class="homepage-main-container">
            <header>
                <div class="top-container">
                    <h1 class="organization-name">Inventory</h1>
                    <div class="top-right-container">
                        <div class="search-container">
                            <span class="search-icon"><i class="fi fi-rs-search"></i></span>
                            <input type="text" placeholder="Search products,suppliers,orders" class="searchInput">
                        </div>
                        <span class="notification-icon"><i class="fa-regular fa-bell"></i></span>
                        <img src="../project images/dashboardImages/Balaprofile.png" class="user-image"
                            alt="user-image">
                    </div>
                </div>
            </header>
            <div class="left-side-nav-container">
                <div class="nav-list">
                    <ul>
                        <a href="/" class="action">
                            <div class="left-nav-bar home-contain" id="settingPo">
                                <p class="sideNav-icon active">
                                    <span><i class="fi fi-rs-settings" id="settingicon"></i></span>
                                    <span class="sideNav-name" id="settingText">Settings</span>
                                </p>
                            </div>
                        </a>
                        <a href="#" class="action">
                            <div class="left-nav-bar Inventory-contain">
                                <p class="sideNav-icon">
                                    <span><i class="fi fi-rs-truck-loading "></i></span>
                                    <span class="sideNav-name">Personal</span>
                                </p>
                            </div>
                        </a>
                        <a href="#" class="action">
                            <div class="left-nav-bar Integrations-contain">
                                <p class="sideNav-icon">
                                    <span><i class="fi fi-rs-square-poll-vertical"></i></span>
                                    <span class="sideNav-name">Organisation</span>
                                </p>
                            </div>
                        </a>
                        <a href="#" class="action">
                            <div class="left-nav-bar Vendors-contain">
                                <p class="sideNav-icon">
                                    <span><i class="fi fi-rs-circle-user"></i></span>
                                    <span class="sideNav-name">Passwords</span>
                                </p>
                            </div>
                        </a>
                        <a href="#" class="action">
                            <div class="left-nav-bar Orders-contain">
                                <p class="sideNav-icon">
                                    <span><i class="fi fi-rs-box-open"></i></span>
                                    <span class="sideNav-name">Logout</span>
                                </p>
                            </div>
                        </a>

                        <a href="/" class="action">
                            <div class="left-nav-bar setting-contain">
                                <p class="sideNav-icon">
                                    <span><i class="fi fi-rs-settings"></i></span>
                                    <span class="sideNav-name">Back</span>
                                </p>
                            </div>
                        </a>
                    </ul>
                </div>
                <div class="personalProfileAll">
                    <div class="personalProfileBox">
                        <div class="profileDetails">
                            <div class="profileimage">
                                <img src="../project images/dashboardImages/Balaprofile.png" class="profilePersonalImage">
                            </div>
                            <div class="profileName">
                                <div class="profilePersonName">
                                    <p class="proName">Vignesh</p>
                                </div>
                                <div class="changeInage">
                                    <p class="changeInagetext">Change Image</p>
                                </div>
                            </div>
                            <div class="cancelbtn">
                                <button class="profileCancelButton">Cancel</button>
                            </div>
                            <div class="profileEditBtn">
                                <button class="profileEditButton">Edit</button>
                                <button class="profileSaveButton">Save</button>
                            </div>
                        </div>
                        <div class="secondProfileSection">
                            <div class="firstRowCon">
                                <div class="name">
                                    <label class="Sec">First Name</label>
                                    <div class="change">
                                    <p class="Secname">Vignesh</p>
                                    </div>
                                </div>
                                <div class="gender">
                                    <label>Gender</label>
                                    <div class="change">
                                    <p class="Secname">Male</p>
                                    </div>
                                </div>
                                <div class="country">
                                    <label>Country</label>
                                    <div class="change">
                                    <p class="Secname">India</p>
                                    </div>
                                </div>
                            </div>
                            <div class="secondRow">
                                <div class="lastName">
                                    <label>Last Name</label>
                                    <div class="change">
                                    <p class="Secname">Selvaraj</p>
                                    </div>
                                </div>
                                <div class="Mobile">
                                    <label>Mobile Number</label>
                                    <div class="change">
                                    <p class="Secname">934567890</p>
                                    </div>
                                </div>
                                <div class="Email">
                                    <label>Email</label>
                                    <div class="change">
                                    <p class="Secname">vigneshselvarajdckap@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    <script src="../js/profile.js"></script>
</body>

</html>